<div class="footer-row">
  <div class="footer-column">
    <h3>Tech Friends</h3>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/html/courses.html">Group Courses</a></li>
      <li><a href="/html/personal.html">Personal Help</a></li>
      <li><a href="/html/contact.html">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Company</h3>
    <ul>
      <li><a href="https://blog.technologyfriends.net">Blog</a></li>
      <li><a href="/html/partnerships.html">Work With Us</a></li>
      <li><a href="/html/commitment.html">Open Source</a></li>
    </ul>
  </div>
</div>

<p>&#169; <a href="/index.html">Tech Friends</a> 2022</p>
